<div xmlns:th="http://www.thymeleaf.org" th:fragment="commonScripts">
    <!--bootstrap js-->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!--plugins-->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <!--plugins-->
    <script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/plugins/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/assets/plugins/apexchart/apexcharts.min.js}"></script>
    <script th:src="@{/assets/js/index.js}"></script>
    <script th:src="@{/assets/plugins/peity/jquery.peity.min.js}"></script>
    <script>
        $(".data-attributes span").peity("donut")
    </script>
    <script th:src="@{/assets/plugins/simplebar/js/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>

</div>